<p [ngClass]="{
      'haute-distance': consommationPour100Km > 7,
      'basse-distance': consommationPour100Km < 4
    }">
  {{consommationPour100Km | number:'1.2-2'}}</p>
<p>{{distanceKm | number:'1.2-2'}}</p>
<p>{{consommationTotalKm | number:'1.2-2'}}</p>
<p *ngIf="consommationTotalKm > 7">
  ⚠️ Attention, votre consommation est élevée
</p>
<p *ngIf="consommationTotalKm < 4">
  ✅ Félicitations, votre consommation est faible
</p>
<button (click)="addDistance()" >Ajouter 100 km</button>

<h2>Liste des voyages</h2>
<table>
  <thead>
  <tr>
    <th>Distance</th>
    <th>Consommation pour 100 kms</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let voyage of voyages">
    <td>{{ voyage.distanceKm }} km</td>
    <td>{{ voyage.consommationPour100Km }} L</td>
  </tr>
  </tbody>
</table>
<button (click)="genererVoyage()">Générer voyage</button>
<app-carbon-footprint-form />
<app-carbon-footprint-result />
